body	{
	margin-top: 40px;
}

.container {
	border: 1px #eee solid;
	padding: 0;
}

h1, h2, h3, h4, h5, p {
	color: #4A4A4A; 
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

/*	TYPESETTINGS OVERRIDES	*/

.typesettings {
	padding: 0; 
}

/*	TYPESETTINGS END*/


.splash {
	background: linear-gradient(
			rgba(74,73,74,0.60),
			rgba(74,73,74,0.60)
			), url(../images/hero-bg.jpg) no-repeat center center;
	background-size: cover;
}

.intro {
	text-align: center;
	padding-top: 200px;
	padding-bottom: 460px;
}

.intro img {
	height: 130px;
	margin-bottom: 40px;
}

.intro h1 {
	color: #fff;
	margin-bottom: 10px;
}

.intro hr {
	width: 70px;
	background-color: #F9BE46;
	color: #F9BE46;
	height: 5px;
	border: 0 none;
}

.intro  p {
	color: #fff;
}

.btn-yellow {
	margin-top: 40px;
	background: #F9BE46;
	font-size: 18px;
	letter-spacing: 1px;
	font-family: Lato, sans-serif;
	font-weight: 700;
	color: #4A4A4A;
	padding: 18px 50px;
	border: none;
	box-shadow: 0 4px #D78600;
	border-radius: 5px 5px 5px 5px;
	cursor: pointer;
	text-transform: uppercase;
	text-decoration: none;
}

.btn-yellow:hover {
	background: #FCAE10;
}

/*     DASHBOARD      */

.nav {
	height: 100px;
	width: 100%;
	margin: 0 auto;
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.50);
}

.dashboard-container {
		display: -webkit-flex;
		display: flex;
		-webkit-flex-direction: row;
	  flex-direction: row;
	  -webkit-align-items: center;
	  align-items: center;
	  -webkit-justify-content: center;
	  justify-content: center;
		height: 115px;
		width: 100%;
		overflow: visible;
}

.nav-container {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between;
	height: 115px;
	width: 100%;
	overflow: visible;
}

.nav-dashboard {
	height: 100px;
}

.nav img {
	height: 100px;
}

.dashboard-content {
	padding: 55px 0 40px 0;
}

.dashboard-content .row {
	margin-bottom: 30px;
}

.socks {
	background: linear-gradient(
			rgba(0,0,0,0.40),
			rgba(0,0,0,0.40)
			),url(../images/socks.jpg)no-repeat center center;
}

.gloves {
	background: linear-gradient(
			rgba(0,0,0,0.40),
			rgba(0,0,0,0.40)
			),url(../images/gloves.jpg) no-repeat center center;
}

.belts {
	background: linear-gradient(
			rgba(0,0,0,0.40),
			rgba(0,0,0,0.40)
			),url(../images/belts.jpg) no-repeat center center;
}

.breeches {
	background: linear-gradient(
			rgba(0,0,0,0.40),
			rgba(0,0,0,0.40)
			),url(../images/breeches.jpg) no-repeat center center;
}

.tops-outerwear {
	background: linear-gradient(
			rgba(0,0,0,0.40),
			rgba(0,0,0,0.40)
			),url(../images/tops-outerwear.jpg) no-repeat center center;
}

.panel {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;

	height: 300px;
	background-size: cover;
}

/*---------------------*/
/***** Ruby Effect *****/
/*---------------------*/

#dashboard h2, #dashboard p {
	color: #fff;

}

#dashboard h2 {
	margin-top: -6%;
	text-align: center;
}

#dashboard p {
	font-size: 0.5em;
	font-weight: 400;
	font-family: 'Lato', 'Helvetica', 'Arial', sans-serif;
	text-transform: uppercase;
}

.effect-ruby a {
	position: absolute;
	opacity: 0;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

div .effect-ruby {
	/*opacity: 0.9;*/
	-webkit-transition: background 0.35s, -webkit-transform 0.35s;
	transition: background 0.35s, transform 0.35s;
}

div .effect-ruby:hover {
	/*opacity: 1;*/
	-webkit-transform: scale(1.05);
	transform: scale(1.05);
}

div .effect-ruby h2 {
	margin-top: 20%;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,20px,0);
	transform: translate3d(0,20px,0);
}

div .effect-ruby p {
	margin: 1.4em 0 0;
	padding: 0.7em 2em;
	border: 2px solid #F9BE46;
	border-radius: 6px;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transition: background 0.55s, -webkit-transform 0.35s;
	transition: background 0.55s, transform 0.35s;
	-webkit-transform: translate3d(0,20px,0) scale(1.1);
	transform: translate3d(0,20px,0) scale(1.1);
} 

div .effect-ruby:hover h2 {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

div .effect-ruby:hover p {
	opacity: 1;
	background: #F9BE46;
	-webkit-transform: translate3d(0,0,0) scale(1);
	transform: translate3d(0,0,0) scale(1);
}

/*	PAGES SHARED STYLES  */

.lead {
	font-size: 18px;
	line-height: 32px;
	color: #4A4A4A;
}

.vid-screenshot {
	position: relative;
	z-index: -999;
}

.text-center {
	text-align: center;
}

#category-page .orange-long {
	background-color: #F9BE46;
	color: #F9BE46;
	height: 5px;
	border: 0 none;
}

#category-page h2 {
	margin-top: 20%;
	margin-bottom: 3%;
}

#category-page h4 {
	padding-top: 30px;
	padding-bottom: 10px;
}

#sizing-section {
	min-height: 600px;
}

.form {
	margin-top: 5%;
	padding-left: 5%;
}

.center-button {
	margin: 0 auto;
}

.gif {
	margin-top: 4%;
}

.radio p {
	margin-top: -10px;
	padding: 0;
	font-weight: 500;
	font-size: 23px;
}

.form-group h5 {
	margin-bottom: 10px;
}

.btn-black {
	font-family: Lato, sans-serif;
	font-size: 16px;
	letter-spacing: 1px;
	color: #222222;
	line-height: 17px;
	font-weight: 700;	
	padding: 18px 50px;
	border: 4px solid #222222;
	border-radius: 5px 5px 5px 5px;
	cursor: pointer;
	text-transform: uppercase;
	text-decoration: none;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.btn-black:hover {
	color: #ffffff !important;
	background: #222222;
}

.btn-results {
	color: #ffffff !important;
	background: #222222;
}

.center-align {
	display: flex;
	display: -webkit-flex;
	flex-direction: row;
	-webkit-flex-direction: row;
	justify-content: center;
	-webkit-justify-content: center;
}

blockquote {
	text-align: center;
}

.previous {
	position: relative;
	right: -8%;
	text-transform: uppercase;
	font-family: 'Lato', 'Helvetica', 'Arial', sans-serif
}

.previous {
	font-size: 18px;
}

#results-section h2 {
	margin-top: 1%;
}

.product-offset {
	margin-left: 12.5%;
}

/*    SOCKS    */

.socks-form {
	margin-top: -3%;
}

footer {
	background: #eee;
	padding: 40px 0 60px 0;
}

footer blockquote {
	width: 80%;
	margin: 0 auto !important;
}

.author {
	margin-top: -10px !important;
	text-align: center;
	font-size: .6em;
	letter-spacing: .25em;
	text-transform: uppercase;
	text-align: center;
	font-weight: normal;
	opacity: 0.4;
}

/*--Gloves--*/

.gloves-form {
	margin-top: -3%;

}

.label-description {
	font-size: 80%;
	font-style: italic;
	font-weight: normal;
	vertical-align: text-bottom;
	color: #888;
}

/*--Gloves End--*/

/*--Breeches--*/

.breeches-form {margin-top: -4%;}

.submit-button {
	margin-top: 7%;
}

/*--Breeches End--*/



/*--Belts--*/

.belts-form {margin-top: -10%;}

/*--Belts End--*/

/*--Tops & Outerwear--*/

.tops-outerwear-form {margin-top: -7%;}

/*--Tops & Outerwear END--*/

/*==========  Media Queries  ==========*/

/* Medium Devices, Desktops */
@media (max-width : 992px) {

	.panel {
		height: 280px;
	}

	.categories .row {
		margin-bottom: 30px;
	}

	.product-form {
		margin-top: -13%;

	}
}

/* Small Devices, Tablets */
@media (max-width: 767px)  { 
	
	/*	DASHBOARD  */

	.dashboard-content {
		padding: 0;
	}

	.dashboard-content .row {
		margin-bottom: 0;
	}

	.nav-dashboard {
	height: 78px;
	}

	.container {
		padding: 0;
	}
	.nav {
		height: 80px;
		width: 100%;
	}

	.nav-container {
		height: 80px;
	}

	.nav img {
		height: 80px;
	}

	.product-form {
		margin-top: 0;

	}

	.previous {
		font-size: 25px;
		font-weight: bold;
	}

	

	.remove-me {
		display: none;
	}

	.panel {
		height: 250px;
	}

		/*	Dashboard End	 */

	#category-page h2 {
		margin-top: 10%;
		margin-bottom: 3%;
	}

	.product-copy {
		text-align: center;
		width: 80%;
		margin: 0 auto;
	}

	.product-form {
		width: 80%;
		margin: 0 auto;
	}

	#category-page .orange-long {
	width: 8%;
	margin: 12px auto 28px auto;
	}
}



/* Extra Small Devices, Phones */ 
@media (max-width : 500px) { 
	body {
		margin-top: 0;
	}

/*	Dashboard Page  */

	.panel {
		height: 200px;
	}
}

/*	Dashboard Page End  */





