/* ==========================================================================
   Typesettings.css - Created by Mike Mai

   http://mikemai.net
   http://mikemai.net/typesettings/index.html
   ========================================================================== */
   
html {
  font-size: 10px; }
    
.typesettings {
  position: relative;
  padding: 2em 11% 3em 11%;
  color: #555555;
  line-height: 1.5;
  font-family: Georgia, serif; }
  @media only screen and (max-width: 480px) {
    .typesettings {
      font-size: 1.6em; } }
  @media only screen and (min-width: 481px)  {
    .typesettings {
      font-size: 2.1em; } }
  .typesettings a {
    color: #222222;
    text-decoration: none; }
    .typesettings a:hover {
      color: #222222;
      border-bottom-color: #555555; }
    .typesettings a:active {
      position: relative;
      top: 1px; }
  .typesettings h1,
  .typesettings h2,
  .typesettings h3,
  .typesettings h4,
  .typesettings h5,
  .typesettings h6,
  .typesettings figcaption,
  .typesettings blockquote {
    font-family: sans-serif; }
  .typesettings h1,
  .typesettings h2,
  .typesettings h3,
  .typesettings h4,
  .typesettings h5,
  .typesettings h6 {
    margin-top: .9em;
    margin-bottom: -.25em;
    color: #222222;
    line-height: 1.25; }
  @media only screen and (max-width: 480px) {
    .typesettings h1 {
      font-size: 1.7em; } }
  @media only screen and (min-width: 481px)  {
    .typesettings h1 {
      letter-spacing: -1px;
      font-size: 2.1em; } }
  
  .typesettings h1:first-child {
    text-align: center; }
    .typesettings h1:first-child + h2 {
      letter-spacing: .25em;
      text-transform: uppercase;
      text-align: center;
      font-family: monospace;
      font-weight: normal;
      opacity: 0.4;
      filter: alpha(opacity=40); }
      @media only screen and (max-width: 480px) {
        .typesettings h1:first-child + h2 {
          font-size: .7em; } }
      @media only screen and (min-width: 481px)  {
        .typesettings h1:first-child + h2 {
          font-size: .8em; } }
      
  @media only screen and (max-width: 480px) {
    .typesettings h2 {
      font-size: 1.4em; } }
  @media only screen and (min-width: 481px)  {
    .typesettings h2 {
      font-size: 1.6em; } }
  
  @media only screen and (max-width: 480px) {
    .typesettings h3 {
      font-size: 1.2em; } }
  @media only screen and (min-width: 481px)  {
    .typesettings h3 {
      font-size: 1.3em; } }
 
  @media only screen and (max-width: 480px) {
    .typesettings h4 {
      font-size: 1em; } }
  @media only screen and (min-width: 481px)  {
    .typesettings h4 {
      font-size: 1.1em; } }
  
  @media only screen and (max-width: 480px) {
    .typesettings h5 {
      margin-top: 1.15em;
      font-size: .8em; } }
  @media only screen and (min-width: 481px)  {
    .typesettings h5 {
      margin-top: 1em;
      font-size: .9em; } }
 
  .typesettings h6 {
    text-transform: uppercase;
    letter-spacing: 1px; }
    @media only screen and (max-width: 480px) {
      .typesettings h6 {
        margin-top: 1.3em;
        font-size: .7em; } }
    @media only screen and (min-width: 481px)  {
      .typesettings h6 {
        margin-top: 1.15em;
        font-size: .8em; } }
  /*.typesettings header:first-child + p {
    font-size: 1.15em; }
    .typesettings header:first-child + p:first-letter {
      float: left;
      margin-right: .15em;
      padding: 0 .2em;
      line-height: 1.1;
      text-transform: uppercase;
      font-size: 3.6em;
      border: 4px double #eeeeee; }*/


    
    .typesettings.sans-serif h1,
    .typesettings.sans-serif h2,
    .typesettings.sans-serif h3,
    .typesettings.sans-serif h4,
    .typesettings.sans-serif h5,
    .typesettings.sans-serif h6,
    .typesettings.sans-serif figcaption,
    .typesettings.sans-serif blockquote {
      letter-spacing: normal;
      font-family: Georgia, serif; }
    @media only screen and (max-width: 480px) {
      .typesettings.sans-serif h1 {
        font-size: 1.8em; } }
    @media only screen and (min-width: 481px)  {
      .typesettings.sans-serif h1 {
        font-size: 2.2em; } }
   
    .typesettings.sans-serif h1:first-child + h2 {
      letter-spacing: .25em;
      font-family: 'Verdana', sans-serif; }
      @media only screen and (max-width: 480px) {
        .typesettings.sans-serif h1:first-child + h2 {
          font-size: .5em; } }
      @media only screen and (min-width: 481px)  {
        .typesettings.sans-serif h1:first-child + h2 {
          font-size: .65em; } }
      
    @media only screen and (max-width: 480px) {
      .typesettings.sans-serif h2 {
        font-size: 1.3em; } }
    @media only screen and (min-width: 481px)  {
      .typesettings.sans-serif h2 {
        font-size: 1.5em; } }
    
    @media only screen and (max-width: 480px) {
      .typesettings.sans-serif h3 {
        font-size: 1em; } }
    @media only screen and (min-width: 481px)  {
      .typesettings.sans-serif h3 {
        font-size: 1.2em; } }
    
    @media only screen and (max-width: 480px) {
      .typesettings.sans-serif h4 {
        margin-top: 1.15em;
        font-size: .8em; } }
    @media only screen and (min-width: 481px)  {
      .typesettings.sans-serif h4 {
        font-size: 1em; } }
    
    @media only screen and (max-width: 480px) {
      .typesettings.sans-serif h5 {
        margin-top: 1.4em;
        font-size: .65em; } }
    @media only screen and (min-width: 481px)  {
      .typesettings.sans-serif h5 {
        margin-top: 1.15em;
        font-size: .8em; } }
    
    @media only screen and (max-width: 480px) {
      .typesettings.sans-serif h6 {
        margin-top: 1.8em;
        font-size: .5em; } }
    @media only screen and (min-width: 481px)  {
      .typesettings.sans-serif h6 {
        margin-top: 1.45em;
        font-size: .65em; } }
    
   
  .typesettings.dark {
    color: #d4d4d4;
    background-color: #222222; }
    .typesettings.dark a {
      color: white;
      text-decoration: none; }
      .typesettings.dark a:link {
        border-color: #aeaeae; }
      .typesettings.dark a:visited {
        /*color: #555555;
        border-color: #555555;*/ }
      .typesettings.dark a:hover {
        color: white;
        border-color: white; }
    .typesettings.dark h1,
    .typesettings.dark h2,
    .typesettings.dark h3,
    .typesettings.dark h4,
    .typesettings.dark h5,
    .typesettings.dark h6,
    .typesettings.dark blockquote {
      color: white; }
    
    .typesettings.dark ol {
      list-style: upper-roman; }
    .typesettings.dark ul {
      list-style: circle; }
    
  @media only screen and (max-width: 768px) {
    .typesettings.golden {
      padding: 2em 11% 3em 11%; } }
  @media only screen and (min-width: 769px) {
    .typesettings.golden {
      padding: 2em 21.6447% 3em 21.6447%; } }
  @media (min-width: 950px) {
    .typesettings.golden section:first-child {
      margin-left: -10%;
      margin-right: -10%; } }
  @media only screen and (min-width: 1441px) {
    .typesettings.golden section:first-child {
      margin-left: -20%;
      margin-right: -20%; } }
  @media (min-width: 950px) {
    .typesettings.golden figure {
      margin-left: -10%;
      margin-right: -10%; } }
  @media only screen and (min-width: 1441px) {
    .typesettings.golden figure {
      margin-left: -20%;
      margin-right: -20%; } }
  @media (min-width: 950px) {
    .typesettings.golden blockquote {
      margin-left: -15%;
      margin-right: -15%; } }
  @media only screen and (min-width: 1441px) {
    .typesettings.golden blockquote {
      margin-left: -25%;
      margin-right: -25%; } }